h1{
    color : Green;
}
h2{
    color : Green;
}
body{
    background-color: black;
    background-image: url("C:\Users\goku_\Pictures\Screenshots\Screenshot 2024-09-27 115412.png");
    background-size:cover;
}
p{
    color: aqua;
}